
 
<div class="container" ng-hide="dodawaniePlatnosci">
  <div class="form-group form-inline">
  <select ng-model="biorca" class="form-control" ng-options="x.username for x in uzytkownicy">
  </select>
  <select ng-model="dawca" class="form-control" ng-options="x.username for x in uzytkownicy">
     </select>
  <input id="kwota" ng-model="kwota" class="form-control" placeholder="Kwota" type="number">
  <button ng-click="zapiszPlatnosc()" class="btn-success">
    Zapisz płatnośc
  </button>
  </div>

<div class="container">
    <h1 ng-repeat="x in daneZSerwera">{{x.creditor.username}} jest winien {{x.debtor.username}} : {{x.debt}} złotych</h1>
</div>
<button ng-click="dodajPlatnosc()" class="btn-primary btn-lg btn-block">
    Dodaj płatność
  </button>
  <p> {{komunikat}}</p>
  </div>
