<div class="container">
  <form name="myForm" ng-submit="zapiszPlatnosc()">
  <div class="form-group" ng-hide="dodawaniePlatnosci">
    <label for="biorca">Biorca</label>
    <select name="biorca" ng-model="biorca" class="form-control" ng-options="x.username for x in uzytkownicy" required>
      <option></option>
  </select>
     <label for="dawca">Dawca</label>
     <select name="dawca" ng-model="dawca" class="form-control" ng-options="x.username for x in uzytkownicy" required> 
       <option></option>
     </select>
     <label for="kwota">Kwota</label>
    <input id="kwota" ng-model="kwota" class="form-control" type="number" required>
    <label for="opis">Powód</label>
    <textarea id="powod" ng-model="opis" class="form-control" rows="3" required></textarea>
    <input type="submit" class="btn-success" value="Zapisz platnosc">
  </div>
  </form>
  <div class="form-group" ng-hide="dodawanieUzytkownika">
     <input id="username" ng-model="nowy_uzytkownik" class="form-control" placeholder="Nazwa uzytkownika">
    <button ng-click="zapiszUzytkownika()" class="btn-success">
    Zapisz użytkownika
  </button>
  </div>
  <div class="container">
    <table class="table">
      <tr ng-repeat="x in daneZSerwera">
        <td>
          <h3>Id transakcji : {{x.id}}.</br>{{x.debtor.username}}  jest winien {{x.creditor.username}} {{x.debt}} złotych.
          </br>Powód: {{x.description}}.</h3>
        <td>
          <input type="button" value="Remove" class="btn btn-primary" ng-click="removeRow($index)" />
        </td>
      </tr>
    </table>
    
  </div>
  <button ng-click="dodajPlatnosc()" class="btn-primary btn-lg btn-block">
    Dodaj płatność
  </button>
   <button ng-click="dodajUzytkownika()" class="btn-primary btn-lg btn-block">
    Dodaj użytkownika
  </button>
  <p> {{komunikat}}</p>
</div>
